@model ML.WebsiteClient.Models.GenreViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
   
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreCountryFounder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreCountryFounder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreYearFounded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreYearFounded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreSongAvgLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreSongAvgLength)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
