@model ML.WebsiteClient.Models.SongViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
 
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongReleasedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongReleasedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.FName)
            @Html.DisplayFor(model => model.Artist.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
